@page "/party"
@inject HttpClient Http

<h3>Party</h3>

@if(parties == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Shortterm Amibition</th>
                <th>Longterm Amibition</th>
                <th>Xp Awarded</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in parties)
            {
                <tr>
                    <td>p.Name</td>
                    <td>p.ShortTermPartyAmbition</td>
                    <td>p.LongTermPartyAmbition</td>
                    <td>p.PartyAwardedXP</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private PartyInfo[]? parties;

    protected override async Task OnInitializedAsync()
    {
        parties = await Http.GetFromJsonAsync<PartyInfo[]>("api/Parties");

    }

    internal class PartyInfo
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string ShortTermPartyAmbition { get; set; }
        public string LongTermPartyAmbition { get; set; }
        public int PartyAwardedXP { get; set; }
    }
}
